*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.navbar{
    width: 100%;
    padding: 15px 40px;
    background: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.logo img{
    width: 35px;
}

.logo span{
    color: #fff;
    font-size: 22px;
}

.menu{
    display: flex;
    list-style: none;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.menu li a{
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.contact-btn{
    background: #ff5a5a;
    padding: 10px 18px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.hero{
    height: 90vh;
    background: url("montant\ 1.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 15%;
   
}

.hero h1{
    
    color: transparent;
    -webkit-text-stroke:2px red;
    font-size: 60px;
    margin-bottom: 20px;
    
}


.hero-btns{
    display: flex;
    gap: 20px;
    align-items: center;
}

.btn1{
    background: #c48510;
    padding: 12px 35px;
    color: white;
    border-radius: 5px;
    text-decoration: none;

}

