body {
    font-family: Arial, Helvetica, sans-serif;
}
.section-1 {
    background: url('blue4.jpg') no-repeat center center/cover;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #fff;
  box-sizing: border-box;
}
 .section-1 h1{
 padding-bottom: 70px;
 font-size: 15px;
 text-shadow:  2px 5px 4px black;
}

.content-section {
  max-width: 80%;
  margin: -20px auto 0 auto;
  background: white;
  border: 1px solid ;
  padding: 12px 32px;
  box-shadow: 2px 15px 30px rgba(130, 9, 236, 0.25);
  position: relative;
 
}

.content-section h5 {
  margin: 0 0 10px 0;
 
}

.content-section p {
  margin: 0;
  color: #080101;
  font-size: 8px;
}