
 body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 
 
 .navbar {
  height: 50px;
  background: #3b3d41;
  display: flex;
  align-items: center;
  padding: 0 30px;

  justify-content: left;
}

.menu {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 700PX;
 
}

.menu li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.logo {
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
}

h2 {
    align-items: center;
    text-align: center;
}
p {

    align-items: center;
    text-align: center;
}