body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: #4f4f4f;
    color: white;

}

.box-model {
 width: 200px;
 height: 100px;
 padding: 20px;
 border: 4px solid white;
 margin: 20px;
 background: lightblue;
}

.display-block {
    display: block;
    background: orange;
    margin: 10px;

}

.display-inline {
    display: inline;
    background: pink;

}

.display-inline-block {
    display: inline-block;
    width: 120px;
    height: 50px;
    background: lightgreen;

}

.Position-parent {
    position: relative;
    height: 150px;
    background: #ddd;

}
.Position-child {
    position: absolute;
    top: 20px;
    right: 20px;
    padding-inline-start: 5px;
    background: red;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    background: #879e1f;
} 

.flex-item {
    background: yellow;
    padding: 20px;
}

.grid-container {
    display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 15px;
   padding: 10px;
}

.grid-item {
    background: skyblue;
    padding: 20px;
    text-align: center;

}

a:hover {
    color:rgb(0, 255, 17);
    border: none;
    

}

input:focus {
    border: 2px solid blue;
}

p::first-letter {
    font-size: 30px;
    color: red;
}

.transition-box {
    width:100px;
    height: 100px;
    background: purple;
    transition: 0.1s;
}
.transition-box:hover {
    background: green;
   transition: scale(1.2);
}
@keyframes move {
    from {transform: translatex(0);}
    to {transform: translateX(200px);}
}

.animation-box {
    width: 80px;
    height: 80px;
    background: tomato;
    animation: move 10s infinite alternate;
}
 .responsive {
    background: teal;
    color: white;
    padding: 20px;
text-align: center; }

@media(max-width:600px) {
    .responsive {
        background: crimson;
    }
}