h3 {
  color: darkred;
}
h2 {
  color: red;
  background-color: lightseagreen;
  /* text -> center/right/left */
  text-align: center;
}
p {
  text-align: justify;
  font-size: 18px;
  /* font-weight: bold; */
  /* font-style: italic; */
  font-family: cursive;
}
