.myDiv {
  width: 70%;
  
  border-style: groove;
  
  
  
  
  border-color: lightseagreen;
  
  border-radius: 20px;
}
.circleCont {
  height: 150px;
  width: 150px;
  background-color: lightsalmon;
  border: solid 2px red;
  
  border-radius: 50%;
}

