.myDiv {
  width: 100%;
  height: 1500px;
  border: 1px solid;
  background-image: url("https://plus.unsplash.com/premium_photo-1755882941155-0082e451a19e?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=875");
  background-repeat: no-repeat;
  background-size: cover;
  /* width height */
  /* background-size: 100% 1500px; */
  background-attachment: fixed;
  text-align: justify;
}
