.shadowDiv {
  height: 100px;
  width: 60%;
  background-color: lightseagreen;
  
  
  
  
  
  
  
  box-shadow: 0px 0px 10px 2px black;
  border: solid 2px;
}
h2 {
  text-shadow: 4px 4px 6px black;
  text-align: center;
  box-shadow: 2px 2px 2px black;
  width: 40%;
  border-radius: 20px;
}
