.box {
  text-align: justify;
  border: 2px solid;
  margin: 10px;
  /* padding: 10px; */
}
.box1 {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 15px;
  padding-bottom: 5px;
}
.box2 {
  /* padding: 20px 10px 15px 5px; */
  padding: 20px 0px;
}
h3 {
  border: 2px solid;
  text-align: center;
  padding: 15px 0px;
  background-color: lightpink;
}
.boxM {
  height: 100px;
  width: 50%;
  border: 2px solid;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
/* .box3 {
  margin-bottom: 10px;
} */
.box4 {
  margin-top: -105px;
  margin-left: 50%;
}
/* 
Padding: extra space/gap inside container/element
Margin: extra space/gap outside container/element
*/
