button {
    color: rgb(225, 231, 231);
 padding: 10px;
 margin: 30px;
 background-color: rgb(240, 40, 40);
font-weight: 200;
border: none;
border-radius: 20px;
   transition: 1s;
   text-shadow:  2px 2;
  
   

   

}
button:hover {
    cursor: pointer;
    background-color: blue;
  
}
