


.maincontainer {
    height: 450px;
    width: 100%;
    border: 2px solid #333;
    background-color: rgb(230, 215, 215);
    
    
    display: flex;
    flex-direction: row-reverse;  
    justify-content: space-between;  
    align-items: center;  
    
    color: aliceblue;
}


.box {
    height: 70px;
    width: 70px;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}


.box:hover {
    transform: scale(1.1);
}