button {
    padding: 10px 20px;
    background-color: rgb(255, 0, 0);
    color: aliceblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
h1{
    background: red;
    color: aliceblue;
    text-align: center;

}
 h4 {
    font-size: 20px;
    background: red;
    color: azure;
    text-align: center;
 }

h3 {
    background-color: aqua;
    text-align: center;

}
